html,
body {
  background: #f1f3f5;
  font-family: segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #345;
  overflow-x: hidden; }

main {
  column-count: 3; }

h2 {
  margin-top: 8px;
  margin-bottom: 16px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 32px;
  font-weight: 300;
  color: #745fb5;
  width: 100%;
  text-align: center; }

section {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin: 1em;
  background: #fff;
  box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03), 0 1px 2px rgba(102, 119, 136, 0.3);
  border-radius: 2px;
  padding: 0.5em 1em 1em 1em; }
  section h3 {
    margin-top: 8px;
    margin-bottom: 16px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 17px;
    font-weight: 400;
    color: #745fb5; }
    section h3:after {
      margin-left: 24px;
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: 1px;
      background: linear-gradient(to right, rgba(116, 95, 181, 0.2), transparent 80%); }
  section ol {
    margin: 0; }
    section ol li i {
      color: #789; }
